MPMV_API_TOKEN=gere_um_token_forte_para_proteger_o_gateway
MPMV_BASE_URL=https://www.maispersuasaomaisvendas.com.br
ADMIN_BLOG_TOKEN=mesmo_valor_usado_no_site_principal
LEADS_ADMIN_TOKEN=mesmo_valor_usado_no_site_principal
GITHUB_REPO=irodrigosd/mpmv
VERCEL_TOKEN=opcional_para_consultar_deployments
VERCEL_TEAM_ID=team_BVsuVX2DEGb6PtSNkqdRlzjB
VERCEL_PROJECT_ID=prj_c8zvkjwMmZmE4My4fiJA8zqcOUSn
